/*
Planning Biblio, Version 2.3
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.txt et COPYING.txt
@copyright 2011-2016 Jérôme Combes

Fichier : theme/bis/bis.css
Création : 4 octobre 2013
Dernière modification : 24 mars 2016
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style personnalisée BIS

Incluse dans les fichiers include/header.php et setup/header.php
*/

/* Général */
body,input,select,textarea,button,.text{
  color:#222C2D;
  font-family:Calibri;
}

body{
  background:url("images/bg_menu.gif") repeat-x top;
}

a{
  color:#148B91;
}

a:hover{
  color:#222C2D;
}

#ferie,.ferie, .menuRed, a:hover.menuRed, a:hover.menu, .important {
  color: #72162d;
}

/* Tableaux */
.th{
  background-color:#155B6B;
  color:#FFFFFF;
}

.tr1{
  background-color:#C7E4E9;
}

/* Page d'authentification */
#auth-logo {
  width:220px;
  height:55px;
  margin:20px;
  background:url("images/logo.png") no-repeat right top;
}

#auth, #auth input {
  color:#148B91;
}

#h2-authentification{
  display:none;
}

#title{
  margin:0 0 60px 0;
  font-family:Cambria;
  font-size:21pt;
}


/* Entête */
#logo {
  left: 12px;
  width:170px;
  height:41px;
  background:url("images/logo170.png") no-repeat right top;
}

/* Menu */
td.menu_td2:hover{
  background-color:#C7E4E9;
}

td.menu_td a,td.menu_td2 a{
  color:#222C2D;
}

li.menu_li:hover {
  background:#C7E4E9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}



/* Planning */
.tr_horaires, .tr_separation{
  background-color: #155B6B;
  height: 30px;
}

.td_obligatoire, .td_renfort{
  font-size:10pt;
}

.td_obligatoire{
  background:#C7E4E9;
}

.titreSemFixe{
  color:#222C2D;
}

.tr_CategorieA td{
 background:#6EAEB9;
}

.tr_CategorieA td.td_obligatoire{
 background:#6EAEB9;
}

.tr_CategorieB td{
 background:#99C4CA;
}

.tr_CategorieB td.td_obligatoire{
 background:#99C4CA;
}

.tr_CategorieC td{
 background:#BFDCE0;
}

.tr_CategorieC td.td_obligatoire{
 background:#BFDCE0;
}

td.cellule_grise{
  background:#DDDDDD;
}

.statut_moniteur, td.statut_moniteur{
  background:yellow;
}

.statut_permanent, td.statut_permanent{
  background:#FFFFFF;
}

.statut_conservateur, td.statut_conservateur{
  background:#93E3FE;
}

.statut_bibliothecaire, td.statut_bibliothecaire{
  background:#B18CFE;
}

.statut_ab, td.statut_ab{
  background:#CCE8B5;
}

.statut_bas, td.statut_bas{
  background:#FFB5AF;
}

.statut_magasinier, td.statut_magasinier{
  background:#EBF38F;
}

.statut_etudiant, td.statut_etudiant{
  background:#FFB43F;
}

.statut_contractuelle, td.statut_contractuelle{
  background:#FF3300;
}

.statut_adjoint_administratif, td.statut_adjoint_administratif{
  background:#00FFCC;
}

.statut_chef_de_travaux_dart, td.statut_chef_de_travaux_dart{
  background:#00FFCC;
}

/* Statistiques */
#stat-col1{
  width:410px;
}

#stat-col1 table, #stat-col1 input[type=text], #stat-col1 select{
  width:100%;
}

#stat-col1 table{
  padding-right: 30px;
}

/* DataTables */
.dataTable tbody tr.odd {
  background-color:#D0EAEE;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color:#C7E4E9;
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color:#F2FBFF;
}

/* Pied de page */
.footer, .footer a{
  color:#858A89;
}